{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="font-family: Verdana, Geneva, Tahoma, sans-serif;" class="navbar-brand" href="{% url 'home' %}">Library Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Books</a>
      </li>
      {% else %}
      <li class="nav-item">
       <a class="nav-link" href="{% url 'account' %}">Edit Profile</a>
     </li>
      {% endif %}
    </ul>
  </div>

<ul class="navbar-nav mr-2">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

        </div>
      </li>
      </ul>


</nav>