{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div style="margin-left: 450px; margin-top: 160px" class="col-md-6">
		<div class="card card-body">
			<h3>Update Order</h3><br>
			<form class="myForm" action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				
				<input class="btn btn-warning" type="submit" value="Submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}