{% load static %}
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" style="background-color: #1A1A2E;">
				<div class="card-header">
					<h5 class="card-title">Total Books</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_orders}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3"  style="background-color: #16213E;">
				<div class="card-header">
					<h5 class="card-title">Books Returned</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{delivered}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" style="background-color: #0F3460;">
				<div class="card-header">
					<h5 class="card-title">Books To Be Returned</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{pending}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>